@model WestBesternoficialya.Models.Evento

<div class="container mt-4">
    <h2>Publicar un nuevo aviso</h2>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <form asp-action="Create" method="post">
                
                <div class="mb-3">
                    <label class="form-label">Título del Evento o Aviso</label>
                    <input asp-for="Titulo" class="form-control" placeholder="Ej. Fumigación, Boda en Salón 1..." />
                </div>

                <div class="mb-3">
                    <label class="form-label">Descripción</label>
                    <textarea asp-for="DetallesLogistica" class="form-control" rows="3" placeholder="Detalles del aviso..."></textarea>
                </div>

                <div class="mb-3">
                    <label class="form-label">Fecha del Evento</label>
                    <input asp-for="FechaCreacion" type="date" class="form-control" />
                </div>

                <button type="submit" class="btn btn-primary">Publicar Aviso</button>
                <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
            </form>
        </div>
    </div>
</div>