@model IEnumerable<WestBesternoficialya.Models.Producto>

@{
    ViewData["Title"] = "Inventario";
}

<div class="container mt-4">
    <h2>Inventario de Suministros</h2>
    <a asp-action="Create" class="btn btn-primary mb-3">Registrar Nuevo Producto</a>
    <hr />

    <table class="table table-hover mt-3">
        <thead class="table-dark">
            <tr>
                <th>Nombre del Producto</th>
                <th>Cantidad Actual</th>
                <th>Stock Mínimo Permitido</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var producto in Model)
            {
                var claseAlerta = "";
                if (producto.CantidadActual <= producto.StockMinimo)
                {
                    claseAlerta = "table-danger text-danger fw-bold";
                }

                <tr class="@claseAlerta">
                    <td>@producto.Nombre</td>
                    <td>@producto.CantidadActual</td>
                    <td>@producto.StockMinimo</td>
                </tr>
            }
        </tbody>
    </table>
</div>